@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu+Mono&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

button {
    width: 100px;
}

body {
    display: flex;
}

header {
    background-color: #FAFBFD;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 40px;
    max-width: 250px;
    width: 100%;
    height: 150vh;
}

.title-dev {
    font-size: 1rem;
    color: #090F31;
}

span {
    color: #F7542E;
}

.item-link {
    color: #9E9E9E;
    padding: 18px 0px;
    font-size: 1.10rem;
    font-weight: 500;
}

.item-link:nth-child(5) {
    color: #090F31;
}

/*-------------- main  --------------*/

main {
    width: 100vw;
    padding: 50px 70px;
}

.title {
    color: #4F4F4F;
    font-size: 1.5rem;
}

.container-buttons {
    padding: 30px 0;
}

.items {
    display: flex;
    gap: 100px;
    padding: 20px 0px;
}

.section-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.html-buttons {
    font-size: 0.75rem;
    color: #6b6b6b;
}

.html-hover-focus {
    font-size: 0.75rem;
    color: #9E9E9E;
}

.btn1 {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
}

.btn2 {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
}

.btn2:hover {
    background-color: #a0a0a0;
}

.btn-outline1 {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: 1px solid #3D5AFE;
    background-color: transparent;
    color: #3D5AFE;
}

.btn-outline2 {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: 1px solid #3D5AFE;
    background-color: transparent;
    color: #3D5AFE;
}

.btn-outline2:hover {
    background-color: #2962ff30;
}

.btn-text1 {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    color: #3D5AFE;
}

.btn-text2 {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    color: #3D5AFE;
    background-color: transparent;
}

.btn-text2:hover {
    background-color: #2962ff30;
}

.btn-disabled-shadow {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    background-color: #3D5AFE;
    color: #FFF;
    box-shadow: 2px 3px 3px #4F4F4F;
}

.btn-disabled1 {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
}

.btn-disabled2 {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
}

.btn-icon1 {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    background-color: #3D5AFE;
    color: #FFF;
}

.btn-icon2 {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    background-color: #3D5AFE;
    color: #FFF;
}

i {
    color: #ffffff;
}

.btn-box1 {
    width: 110px;
    background-color: #3D5AFE;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.btn-box2 {
    width: 110px;
    background-color: #3D5AFE;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.btn-sm {
    margin: 6px 0px;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    background-color: #3D5AFE;
    color: #FFF;
}

.btn-md {
    margin: 3px 0px;
    cursor: pointer;
    padding: 13px 10px;
    border-radius: 6px;
    border: none;
    background-color: #3D5AFE;
    color: #FFF;
}

.btn-lg {
    cursor: pointer;
    padding: 16px 10px;
    border-radius: 6px;
    border: none;
    background-color: #3D5AFE;
    color: #FFF;
}

.btn-default {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    background-color: #a0a0a0;
    color: #FFF;
}

.btn-primary {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    background-color: #3D5AFE;
    color: #FFF;
}

.btn-secondary {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    background-color: #585858;
    color: #FFF;
}

.btn-danger {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    background-color: #f72e2e;
    color: #FFF;
}

.btn-default1 {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    background-color: #a0a0a0;
    color: #FFF;
}

.btn-primary1 {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    background-color: #3D5AFE;
    color: #FFF;
}

.btn-secondary1 {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    background-color: #585858;
    color: #FFF;
}

.btn-danger1 {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    background-color: #f72e2e;
    color: #FFF;
}

.html-buttons1 {
    font-size: 0.75rem;
    color: #6b6b6b;
    padding: 20px 0px;
}

.btn-box-flex {
    display: flex;
    gap: 100px;
}

.btn-default1:hover {
    background-color: #4F4F4F;
}

.btn-primary1:hover {
    background-color: #0b29d4;
}

.btn-secondary1:hover {
    background-color: #363636;
}

.btn-danger1:hover {
    background-color: #c70a0a;
}

.link {
    padding: 70px 0px;
    font-size: .75rem;
    color: #828282;
    font-family: 'Ubuntu Mono', monospace;
}

.copyright {
    font-size: 1rem;
    color: #828282;
}

.name {
    color: #000;
    text-decoration: none;
}